@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Passion+One:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    background-color: #f4f5f7;
    font-family: "Raleway", sans-serif;
    color: #575757;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.vertical-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.grow-on-hover {
    -webkit-transition: all 70ms ease;
    -moz-transition: all 70ms ease;
    -o-transition: all 70ms ease;
    transition: all 70ms ease;
}

.grow-on-hover:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
